.menu {
	padding: 30px;
}

.logo img {
	float: left;
	width: 445px;
	height: 65px;
	margin-top: 8px;
	margin-left: 10px;
	/* background-color: yellow;
	border: solid black; */
}

.menu-list {
	padding-top: 160px;
}

.list-items {
	list-style-type: none;
	padding: 10px;
	color: white;
	/* background-color: cornflowerblue; */
}

.list-items a {
	text-decoration: none;
	color: white;
}

.top-names {
	font-family: 'Homenaje', sans-serif;
	-webkit-text-stroke: 0.5px gray;
	font-size: 70px;
	font-style: italic;
}

.bottom-names {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	padding: 2px;
}
